{namespace theme=KayStrobach\Themes\ViewHelpers}

<f:if condition="{theme:constant(constant:'themes.configuration.pages.search')}">
	<f:then>
		<a href="#" class="pull-right" id="nav-search"><i class="fa fa-search"></i> Search</a>
		<!-- Search Form -->
		<f:form extensionName="indexedSearch" pluginName="Pi2" action="search" controller="Search" pageUid="{theme:constant(constant:'themes.configuration.pages.search')}"
		        class="pull-right hidden" id="nav-search-form"
		        additionalAttributes="{role:'search'}">
			<div class="input-group">
				<input type="text" class="form-control" placeholder="Search" name="tx_indexedsearch_pi2[search][sword]">
				<span class="input-group-btn">
					<button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
				</span>
			</div>
		</f:form>
	</f:then>
</f:if>