/* oswald-300 - latin */
@font-face {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 300;
    src: url('oswald-v49-latin-300.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('oswald-v49-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('oswald-v49-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
    url('oswald-v49-latin-300.woff') format('woff'), /* Modern Browsers */
    url('oswald-v49-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
    url('oswald-v49-latin-300.svg#Oswald') format('svg'); /* Legacy iOS */
}

/* oswald-regular - latin */
@font-face {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    src: url('oswald-v49-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('oswald-v49-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('oswald-v49-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('oswald-v49-latin-regular.woff') format('woff'), /* Modern Browsers */
    url('oswald-v49-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('oswald-v49-latin-regular.svg#Oswald') format('svg'); /* Legacy iOS */
}

/* oswald-700 - latin */
@font-face {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 700;
    src: url('oswald-v49-latin-700.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('oswald-v49-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('oswald-v49-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
    url('oswald-v49-latin-700.woff') format('woff'), /* Modern Browsers */
    url('oswald-v49-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
    url('oswald-v49-latin-700.svg#Oswald') format('svg'); /* Legacy iOS */
}
