<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:n="http://typo3.org/ns/GeorgRinger/News/ViewHelpers"
      data-namespace-typo3-fluid="true">
<f:layout name="General" />
<!--
	=====================
		Templates/News/List.html
-->

<f:section name="content">
    <!--TYPO3SEARCH_end-->
    <f:if condition="{news}">
        <f:then>
            <f:if condition="{settings.templateLayout} > 0">
                <f:then>
                    <f:if condition="{settings.templateLayout} == 1">
                        <div class="row">
                            <f:for each="{news}" as="newsItem" iteration="iterator">
                                <f:render partial="List/ItemPortfolio" arguments="{newsItem: newsItem,settings:settings,iterator:iterator}"/>
                            </f:for>
                        </div>
                    </f:if>
                    <f:if condition="{settings.templateLayout} == 2">
                        <div class="row" id="isotope-container">
                            <f:for each="{news}" as="newsItem" iteration="iterator">
                                <f:render partial="List/ItemPortfolio" arguments="{newsItem: newsItem,settings:settings,iterator:iterator}"/>
                            </f:for>
                        </div>
                    </f:if>
                    <f:if condition="{settings.templateLayout} == 4">
                        <div class="row portfolio">
                            <f:for each="{news}" as="newsItem" iteration="iterator">
                                <f:render partial="List/Teasers" arguments="{newsItem: newsItem,settings:settings,iterator:iterator}"/>
                            </f:for>
                        </div>
                    </f:if>
                    <f:if condition="{settings.templateLayout} == 5">
                        <f:alias map="{partial:'List/BlogList'}">
                            <f:render section="pagination" arguments="{_all}" />
                        </f:alias>
                    </f:if>
                </f:then>
                <f:else>
                    <div class="news-list-view">
                        <f:alias map="{partial:'List/Item'}">
                            <f:render section="pagination" arguments="{_all}" />
                        </f:alias>
                    </div>
                </f:else>
            </f:if>
        </f:then>
        <f:else>
            <div class="no-news-found">
                <f:translate key="list_nonewsfound"/>
            </div>
        </f:else>
    </f:if>
    <!--TYPO3SEARCH_begin-->
</f:section>

<f:section name="pagination">
    <f:if condition="{settings.hidePagination}">
        <f:then>
            <f:for each="{news}" as="newsItem" iteration="iterator">
                <f:render partial="{partial}" arguments="{newsItem: newsItem,settings:settings,iterator:iterator}" />
            </f:for>
        </f:then>
        <f:else>
            <f:if condition="{settings.list.paginate.insertAbove}">
                <f:render partial="List/Pagination" arguments="{pagination: pagination.pagination, paginator: pagination.paginator}" />
            </f:if>
            <f:for each="{pagination.paginator.paginatedItems}" as="newsItem" iteration="iterator">
                <f:render partial="{partial}" arguments="{newsItem: newsItem,settings:settings,iterator:iterator}" />
            </f:for>
            <f:if condition="{settings.list.paginate.insertBelow}">
                <f:render partial="List/Pagination" arguments="{pagination: pagination.pagination, paginator: pagination.paginator}" />
            </f:if>
        </f:else>
    </f:if>
</f:section>
</html>

