<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:n="http://typo3.org/ns/GeorgRinger/News/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:if condition="{settings.cssFile}">
    <n:includeFile path="{settings.cssFile}" />
</f:if>

<f:comment>
    TemplateLayout 1 is Isotope Layout instead of default-news-Layout
</f:comment>

<f:if condition="{settings.templateLayout} == 1">
    <f:then>
        <div class="row port-item-p">
            <f:render section="content" />
        </div>
    </f:then>
    <f:else>
        <f:if condition="{settings.templateLayout} == 6">
            <f:then>
                <div class="row blog-p">
                    <f:render section="blogdetail" />
                </div>
            </f:then>
            <f:else>
                <div class="news news-single">
                    <div class="article">
                        <f:render section="content" />
                    </div>
                </div>
            </f:else>
        </f:if>
    </f:else>
</f:if>
</html>