/* ===== Footer ===== */

footer {
  padding: 20px 0;
  margin-top: 50px;
}
footer h3 {
  padding-bottom: 10px;
  border-bottom: 1px solid #4E4D4A;
  margin-bottom: 20px;
}
footer h3 > span {
  padding: 5px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

/* Footer Dark */

.footer-dark {
  background: #353432;
  color: #ecf0f1;
}
.footer-dark hr {
  border-top: 1px solid #4E4D4A;
}

/* Footer White */

.footer-white {
  background: #fff;
  border-top: 1px solid #dedede;
  color: #999;
}
.footer-white h3 {
  border-color: #eee;
}



/* Footer White Social Links */

.footer-white .social li > a {
  border: 1px solid #ccc;
}
.footer-white .social li > a:hover {
  border: 1px solid transparent;
}
