<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:n="http://typo3.org/ns/GeorgRinger/News/ViewHelpers"
      data-namespace-typo3-fluid="true">
<!--
	=====================
		Partials/List/Item.html
-->
    <f:if condition="{settings.templateLayout} == 2">
        <f:then>
        <div class="isotope-item col-sm-4 col-md-3 <f:for each='{newsItem.categories}' as='category'> cat-{category.uid}</f:for>">
    </f:then>
    <f:else>
        <div class="col-sm-4">
    </f:else>
    </f:if>
        <div class="portfolio-item {f:if(condition: newsItem.istopnews, then: ' topnews')}">
            <n:excludeDisplayedNews newsItem="{newsItem}"/>
            <n:link newsItem="{newsItem}" settings="{settings}" title="{newsItem.title}">
                <f:if condition="{newsItem.falMedia}">
                    <!-- fal media preview element -->
                        <f:if condition="{newsItem.falMediaPreviews}">
                            <f:then>
                                    <f:alias map="{mediaElement: '{newsItem.falMediaPreviews.0}'}">
                                        <f:if condition="{mediaElement.originalResource.type} == 2">
                                            <f:image image="{mediaElement}" class="img-responsive" title="{mediaElement.originalResource.title}" alt="{mediaElement.originalResource.alternative}" maxWidth="{settings.portfolio.media.image.maxWidth}" maxHeight="{settings.portfolio.media.image.maxHeight}"/>
                                        </f:if>
                                        <f:if condition="{mediaElement.originalResource.type} == 4">
                                            <f:render partial="Detail/FalMediaVideo" arguments="{mediaElement: mediaElement}"/>
                                        </f:if>
                                        <f:if condition="{mediaElement.originalResource.type} == 5">
                                            <f:image image="{mediaElement}" class="img-responsive" title="{mediaElement.originalResource.title}" alt="{mediaElement.originalResource.alternative}" maxWidth="{settings.portfolio.media.image.maxWidth}" maxHeight="{settings.portfolio.media.image.maxHeight}"/>
                                        </f:if>
                                    </f:alias>
                            </f:then>
                            <f:else>
                                <f:if condition="{settings.displayDummyIfNoMedia}">
                                <span class="no-media-element">
                                    <f:image src="{settings.list.media.dummyImage}" class="img-responsive" title="" alt="" maxWidth="{settings.portfolio.media.image.maxWidth}" maxHeight="{settings.portfolio.media.image.maxHeight}"/>
                                </span>
                                </f:if>
                            </f:else>
                        </f:if>
                </f:if>
                <div class="mask">
                    {newsItem.title} <span class="pull-right"><i class="fa fa-heart"></i> 12 <i class="fa fa-comments-o"></i> 24</span>
                </div>
            </n:link>
        </div>
    </div>
</html>