<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	  xmlns:n="http://typo3.org/ns/GeorgRinger/News/ViewHelpers"
	  data-namespace-typo3-fluid="true">
<!--
	=====================
		Partials/List/Teasers.html
-->
<div class="col-sm-4">
    <div class="portfolio-item">
        <n:link newsItem="{newsItem}" settings="{settings}" title="{newsItem.title}">
            <f:if condition="{newsItem.falMedia}">
                <!-- fal media preview element -->
                    <f:if condition="{newsItem.falMediaPreviews}">
                        <f:then>
                                 <f:alias map="{mediaElement: '{newsItem.falMediaPreviews.0}'}">
                                    <f:if condition="{mediaElement.originalResource.type} == 2">
                                        <f:image image="{mediaElement}" class="img-responsive" title="{mediaElement.originalResource.title}" alt="{mediaElement.originalResource.alternative}" maxWidth="{settings.teaser.media.image.maxWidth}" maxHeight="{settings.teaser.media.image.maxHeight}"/>
                                    </f:if>
                                    <f:if condition="{mediaElement.originalResource.type} == 4">
                                        <f:render partial="Detail/FalMediaVideo" arguments="{mediaElement: mediaElement}"/>
                                    </f:if>
                                    <f:if condition="{mediaElement.originalResource.type} == 5">
                                        <f:image image="{mediaElement}" class="img-responsive" title="{mediaElement.originalResource.title}" alt="{mediaElement.originalResource.alternative}" maxWidth="{settings.teaser.media.image.maxWidth}" maxHeight="{settings.teaser.media.image.maxHeight}"/>
                                    </f:if>
                                </f:alias>

                        </f:then>
                        <f:else>
                            <f:if condition="{settings.displayDummyIfNoMedia}">
						<span class="no-media-element">
								<f:image src="{settings.teaser.media.dummyImage}" class="img-responsive" title="" alt="" maxWidth="{settings.teaser.media.image.maxWidth}" maxHeight="{settings.teaser.media.image.maxHeight}"/>
						</span>
                            </f:if>
                        </f:else>
                    </f:if>
            </f:if>
            <div class="mask">
                <f:translate key="author" arguments="{0:newsItem.author}"/>
            </div>
        </n:link>
        <div class="portfolio-desc">
            <h3 class="primary-font">{newsItem.title}</h3>
            <p class="text-muted">
                <f:if condition="{newsItem.teaser}">
                    <f:then>
                        <div itemprop="description">{newsItem.teaser -> f:format.crop(maxCharacters: '{settings.teaser.cropMaxCharacters}', respectWordBoundaries:'1') -> f:format.html(parseFuncTSPath: '')}</div>
                    </f:then>
                    <f:else>
                        <div itemprop="description">{newsItem.bodytext -> f:format.crop(maxCharacters: '{settings.teaser.cropMaxCharacters}', respectWordBoundaries:'1') -> f:format.html(parseFuncTSPath: '')}</div>
                    </f:else>
                </f:if>
                <n:link newsItem="{newsItem}" settings="{settings}" class="btn btn-color"><f:translate key="more-link"/></n:link>
            </p>
        </div>
    </div>
</div>
</html>
