
/* ===== Body Style Toggle ===== */
.style-toogle-body {
  .colors {
    margin: 0;

    > li {
      height: 30px;
      width: 30px;
      cursor: pointer;
    }

    > .green {
      background-color: @green;
    }

    > .blue {
      background-color: @blue;
    }

    > .orange {
      background-color: @orange;
    }

    > .red {
      background-color: @red;
    }
  }
}

/* ===== Link and Font Colors ===== */

.colorsetFadeIn {
  transition: all 0.5s ease-in 0.5s; /* explorer 10 */
  -webkit-transition: all 0.5s ease-in 0.5s; /* chrome & safari */
  -moz-transition: all 0.5s ease-in 0.5s; /* firefox */
  -o-transition: all 0.5s ease-in 0.5s; /* opera */
}

.colorset-1 a,
.colorset-1 .text-color {
  color: @link-font-colors-green;
  .colorsetFadeIn
}
.colorset-2 a,
.colorset-2 .text-color {
  color: @link-font-colors-blue;
  .colorsetFadeIn
}
.colorset-3 a,
.colorset-3 .text-color {
  color: @link-font-colors-orange;
  .colorsetFadeIn
}
.colorset-4 a,
.colorset-4 .text-color {
  color: @link-font-colors-red;
  .colorsetFadeIn
}


#areaFooter.footer-dark a,
#areaFooter.footer-dark .text-color.fa{
  color: @mini-navbar-dark-link-color;
  .colorsetFadeIn
}

#areaFooter.footer-light a,
#areaFooter.footer-light .text-color.fa{
  color: @mini-navbar-white-link-color;
  .colorsetFadeIn
}


.colorset-1 #areaFooter:hover a,
.colorset-1 #areaFooter .text-color {
  color: @link-font-colors-green;
  .colorsetFadeIn
}
.colorset-2 #areaFooter:hover a,
.colorset-2 #areaFooter .text-color {
  color: @link-font-colors-blue;
  .colorsetFadeIn
}
.colorset-3 #areaFooter:hover a,
.colorset-3 #areaFooter .text-color {
  color: @link-font-colors-orange;
  .colorsetFadeIn
}
.colorset-4 #areaFooter:hover a,
.colorset-4 #areaFooter .text-color {
  color: @link-font-colors-red;
  .colorsetFadeIn
}

/* ===== Border Colors ===== */



.colorset-1 .border-color {
  border-color: @border-color-green;
}
.colorset-2 .border-color {
  border-color: @border-color-blue;
}
.colorset-3 .border-color {
  border-color: @border-color-orange;
}
.colorset-4 .border-color {
  border-color: @border-color-red;
}

/* ===== Background Colors ===== */


.colorset-1 .bg-color {
  background-color: @bg-color-green;
}
.colorset-2 .bg-color {
  background-color: @bg-color-blue;
}
.colorset-3 .bg-color {
  background-color: @bg-color-orange;
}
.colorset-4 .bg-color {
  background-color: @bg-color-red;
}
.colorset-1 .bg-hover-color:hover,
.colorset-1 .open > .bg-hover-color {
  background-color: @bg-color-green-hover !important;
}
.colorset-2 .bg-hover-color:hover,
.colorset-2 .open > .bg-hover-color {
  background-color: @bg-color-blue-hover !important;
}
.colorset-3 .bg-hover-color:hover,
.colorset-3 .open > .bg-hover-color {
  background-color: @bg-color-orange-hover !important;
}
.colorset-4 .bg-hover-color:hover,
.colorset-4 .open > .bg-hover-color {
  background-color: @bg-color-red-hover !important;
}



.colorset-1 .dropdown-menu > .active > a,
.colorset-1 .dropdown-menu > .active > a:hover,
.colorset-1 .dropdown-menu > .active > a:focus,
.colorset-1 .dropdown-menu > li > a:hover,
.colorset-1 .dropdown-menu > li > a:focus {
  background-color: @dropdown-menu-active-green-color;
}
.colorset-2 .dropdown-menu > .active > a,
.colorset-2 .dropdown-menu > .active > a:hover,
.colorset-2 .dropdown-menu > .active > a:focus,
.colorset-2 .dropdown-menu > li > a:hover,
.colorset-2 .dropdown-menu > li > a:focus {
  background-color: @dropdown-menu-active-blue-color;
}
.colorset-3 .dropdown-menu > .active > a,
.colorset-3 .dropdown-menu > .active > a:hover,
.colorset-3 .dropdown-menu > .active > a:focus,
.colorset-3 .dropdown-menu > li > a:hover,
.colorset-3 .dropdown-menu > li > a:focus {
  background-color: @dropdown-menu-active-orange-color;
}
.colorset-4 .dropdown-menu > .active > a,
.colorset-4 .dropdown-menu > .active > a:hover,
.colorset-4 .dropdown-menu > .active > a:focus,
.colorset-4 .dropdown-menu > li > a:hover,
.colorset-4 .dropdown-menu > li > a:focus {
  background-color: @dropdown-menu-active-red-color;
}

.colorset-1 .navbar-dark .navbar-nav > .active > a,
.colorset-1 .navbar-dark .navbar-nav > .active a:hover,
.colorset-1 .navbar-dark .navbar-nav > .active a:focus {
  background-color: @dropdown-menu-active-green-color;
}
.colorset-2 .navbar-dark .navbar-nav > .active > a,
.colorset-2 .navbar-dark .navbar-nav > .active a:hover,
.colorset-2 .navbar-dark .navbar-nav > .active a:focus {
  background-color: @dropdown-menu-active-blue-color;
}
.colorset-3 .navbar-dark .navbar-nav > .active > a,
.colorset-3 .navbar-dark .navbar-nav > .active a:hover,
.colorset-3 .navbar-dark .navbar-nav > .active a:focus {
  background-color: @dropdown-menu-active-orange-color;
}
.colorset-4 .navbar-dark .navbar-nav > .active > a,
.colorset-4 .navbar-dark .navbar-nav > .active a:hover,
.colorset-4 .navbar-dark .navbar-nav > .active a:focus {
  background-color: @dropdown-menu-active-red-color;
}

/* ===== Buttons Colors ===== */

.btn-color,
.btn-color:hover,
.btn-green,
.btn-green:hover,
.btn-blue,
.btn-blue:hover,
.btn-orange,
.btn-orange:hover,
.btn-red,
.btn-red:hover{
  color: #fff !important;
  -webkit-transition: background-color 300ms, border-color 300ms;
      transition: background-color 300ms, border-color 300ms;
}

/* Button Green */


.colorset-1 .btn-color,
.btn-green {
  background-color: @button-green-color;
  border-color: @button-green-border-color;
}
.colorset-1 .btn-color:hover,
.colorset-1 .btn-color:focus,
.colorset-1 .btn-color:active,
.btn-green:hover,
.btn-green:focus,
.btn-green:active{
  background-color: @button-green-action-color;
  border-color: @button-green-action-border-color;
}

/* Button Blue */
@button-blue-color: @blue;
@button-blue-border-color: #217B97;
@button-blue-action-color: #217B97;
@button-blue-action-border-color: #1A6075;

.colorset-2 .btn-color,
.btn-blue {
  background-color: @button-blue-color;
  border-color: @button-blue-border-color;
}
.colorset-2 .btn-color:hover,
.colorset-2 .btn-color:focus,
.colorset-2 .btn-color:active,
.btn-blue:hover,
.btn-blue:focus,
.btn-blue:active {
  background-color: @button-blue-action-color;
  border-color: @button-blue-action-border-color;
}

/* Button Orange */
@button-orange-color: @orange;
@button-orange-border-color: #C1631F;
@button-orange-action-color: #C1631F;
@button-orange-action-border-color: #9E511A;

.colorset-3 .btn-color,
.btn-orange {
  background-color: @button-orange-color;
  border-color: @button-orange-border-color;
}
.colorset-3 .btn-color:hover,
.colorset-3 .btn-color:focus,
.colorset-3 .btn-color:active,
.btn-orange:hover,
.btn-orange:focus,
.btn-orange:active {
  background-color: @button-orange-action-color;
  border-color: @button-orange-action-border-color;
}

/* Button Red */
@button-red-color: @red;
@button-red-border-color: #E0493E;
@button-red-action-color: #E0493E;
@button-red-action-border-color: #DD382C;

.colorset-4 .btn-color,
.btn-red {
  background-color: @button-red-color;
  border-color: @button-red-border-color;
}
.colorset-4 .btn-color:hover,
.colorset-4 .btn-color:focus,
.colorset-4 .btn-color:active,
.btn-red:hover,
.btn-red:focus,
.btn-red:active {
  background-color: @button-red-action-color;
  border-color: @button-red-action-border-color;
}

/* ===== Page Not Found ===== */


.colorset-1 .not-found-p,
.colorset-1 .alt-p,
.colorset-1 .color-jumbotron{
  background: @not-found-green-bg;
  background-image: @not-found-green-bg-image;
}
.colorset-2 .not-found-p,
.colorset-2 .alt-p,
.colorset-2 .color-jumbotron {
  background: @not-found-blue-bg;
  background-image: @not-found-blue-bg-image;
}
.colorset-3 .not-found-p,
.colorset-3 .alt-p,
.colorset-3 .color-jumbotron {
  background: @not-found-orange-bg;
  background-image: @not-found-orange-bg-image;
}
.colorset-4 .not-found-p,
.colorset-4 .alt-p,
.colorset-4 .color-jumbotron {
  background: @not-found-red-bg;
  background-image: @not-found-red-bg-image;
}