/*------------------------------------------------------------------
Project:    Mosaic
Author:     Yevgeny S.
URL:        http://simpleqode.com/
            https://twitter.com/YevSim
Version:    1.3.0
Created:        20/01/2014
Last change:    25/02/2015
-------------------------------------------------------------------*/


/* ===== Body Style Toggle ===== */
.style-toogle-body {
  .colors {
    margin: 0;

    > li {
      height: 30px;
      width: 30px;
      cursor: pointer;
    }

    > .green {
      background-color: @green;
    }

    > .blue {
      background-color: @blue;
    }

    > .orange {
      background-color: @orange;
    }

    > .red {
      background-color: @red;
    }
  }
}

/* ===== Link and Font Colors ===== */



.body-green a,
.body-green .text-color {
  color: @link-font-colors-green;
}
.body-blue a,
.body-blue .text-color {
  color: @link-font-colors-blue;
}
.body-orange a,
.body-orange .text-color {
  color: @link-font-colors-orange;
}
.body-red a,
.body-red .text-color {
  color: @link-font-colors-red;
}


/* ===== Border Colors ===== */



.body-green .border-color {
  border-color: @border-color-green;
}
.body-blue .border-color {
  border-color: @border-color-blue;
}
.body-orange .border-color {
  border-color: @border-color-orange;
}
.body-red .border-color {
  border-color: @border-color-red;
}

/* ===== Background Colors ===== */


.body-green .bg-color {
  background-color: @bg-color-green;
}
.body-blue .bg-color {
  background-color: @bg-color-blue;
}
.body-orange .bg-color {
  background-color: @bg-color-orange;
}
.body-red .bg-color {
  background-color: @bg-color-red;
}
.body-green .bg-hover-color:hover,
.body-green .open > .bg-hover-color {
  background-color: @bg-color-green-hover !important;
}
.body-blue .bg-hover-color:hover,
.body-blue .open > .bg-hover-color {
  background-color: @bg-color-blue-hover !important;
}
.body-orange .bg-hover-color:hover,
.body-orange .open > .bg-hover-color {
  background-color: @bg-color-orange-hover !important;
}
.body-red .bg-hover-color:hover,
.body-red .open > .bg-hover-color {
  background-color: @bg-color-red-hover !important;
}



.body-green .dropdown-menu > .active > a,
.body-green .dropdown-menu > .active > a:hover,
.body-green .dropdown-menu > .active > a:focus {
  background-color: @dropdown-menu-active-green-color;
}
.body-blue .dropdown-menu > .active > a,
.body-blue .dropdown-menu > .active > a:hover,
.body-blue .dropdown-menu > .active > a:focus {
  background-color: @dropdown-menu-active-blue-color;
}
.body-orange .dropdown-menu > .active > a,
.body-orange .dropdown-menu > .active > a:hover,
.body-orange .dropdown-menu > .active > a:focus {
  background-color: @dropdown-menu-active-orange-color;
}
.body-red .dropdown-menu > .active > a,
.body-red .dropdown-menu > .active > a:hover,
.body-red .dropdown-menu > .active > a:focus {
  background-color: @dropdown-menu-active-red-color;
}

/* ===== Buttons Colors ===== */

.btn-color,
.btn-color:hover,
.btn-green,
.btn-green:hover,
.btn-blue,
.btn-blue:hover,
.btn-orange,
.btn-orange:hover,
.btn-red,
.btn-red:hover{
  color: #fff !important;
  -webkit-transition: background-color 300ms, border-color 300ms;
      transition: background-color 300ms, border-color 300ms;
}

/* Button Green */


.body-green .btn-color,
.btn-green {
  background-color: @button-green-color;
  border-color: @button-green-border-color;
}
.body-green .btn-color:hover,
.body-green .btn-color:focus,
.body-green .btn-color:active,
.btn-green:hover,
.btn-green:focus,
.btn-green:active{
  background-color: @button-green-action-color;
  border-color: @button-green-action-border-color;
}

/* Button Blue */
@button-blue-color: @blue;
@button-blue-border-color: #217B97;
@button-blue-action-color: #217B97;
@button-blue-action-border-color: #1A6075;

.body-blue .btn-color,
.btn-blue {
  background-color: @button-blue-color;
  border-color: @button-blue-border-color;
}
.body-blue .btn-color:hover,
.body-blue .btn-color:focus,
.body-blue .btn-color:active,
.btn-blue:hover,
.btn-blue:focus,
.btn-blue:active {
  background-color: @button-blue-action-color;
  border-color: @button-blue-action-border-color;
}

/* Button Orange */
@button-orange-color: @orange;
@button-orange-border-color: #C1631F;
@button-orange-action-color: #C1631F;
@button-orange-action-border-color: #9E511A;

.body-orange .btn-color,
.btn-orange {
  background-color: @button-orange-color;
  border-color: @button-orange-border-color;
}
.body-orange .btn-color:hover,
.body-orange .btn-color:focus,
.body-orange .btn-color:active,
.btn-orange:hover,
.btn-orange:focus,
.btn-orange:active {
  background-color: @button-orange-action-color;
  border-color: @button-orange-action-border-color;
}

/* Button Red */
@button-red-color: @orange;
@button-red-border-color: #E0493E;
@button-red-action-color: #E0493E;
@button-red-action-border-color: #DD382C;

.body-red .btn-color,
.btn-red {
  background-color: @button-red-color;
  border-color: @button-red-border-color;
}
.body-red .btn-color:hover,
.body-red .btn-color:focus,
.body-red .btn-color:active,
.btn-red:hover,
.btn-red:focus,
.btn-red:active {
  background-color: @button-red-action-color;
  border-color: @button-red-action-border-color;
}

/* ===== Page Not Found ===== */


.body-green .not-found-p,
.body-green .alt-p,
.body-green .color-jumbotron{
  background: @not-found-green-bg;
  background-image: @not-found-green-bg-image;
}
.body-blue .not-found-p,
.body-blue .alt-p,
.body-blue .color-jumbotron {
  background: @not-found-blue-bg;
  background-image: @not-found-blue-bg-image;
}
.body-orange .not-found-p,
.body-orange .alt-p,
.body-orange .color-jumbotron {
  background: @not-found-orange-bg;
  background-image: @not-found-orange-bg-image;
}
.body-red .not-found-p,
.body-red .alt-p,
.body-red .color-jumbotron {
  background: @not-found-red-bg;
  background-image: @not-found-red-bg-image;
}