// Be sure that all Bootstrap variables are defined!
@import "../../../../theme_bootstrap/Resources/Public/Contrib/Bootstrap/less/variables.less";

// Wert @baseurlImage wird ueberschrieben in Theme-Konstanten
@baseurlImage:'/typo3conf/ext/themes_bootstrap_business-casual/Resources/Public/Images/';
@icon-font-path: "../Fonts/";

@brand-primary: #777;
@link-color: #777;

//** Link hover color set via `darken()` function.
@link-hover-color:      darken(@link-color, 15%);
@link-hover-decoration: underline;
@dl-horizontal-offset: @component-offset-horizontal;
@link-bg-color: red;



@import "Library/bootstrap.less";
@import "Library/variables.less";
@import "Library/mixins.less";
@import "Library/animate.less";
@import "Library/color-styles.less";
@import "Library/lightbox.less";
@import "Library/ui-elements.less";

@import "Library/lib.menu.main.less";
@import "Library/lib.menu.miniNavbar.less";

@import "Library/theme_bootstrap_mosaic.less";


//@import "Library/Elements/about-us-p.less";
//@import "Library/Elements/alt-p.less";
@import "Library/Elements/backtotop.less";
//@import "Library/Elements/blog.less";
//@import "Library/Elements/coming-soon.less";
//@import "Library/Elements/comments.less";
//@import "Library/Elements/contact.less";
//@import "Library/Elements/features.less";
//@import "Library/Elements/footer.less";
//@import "Library/Elements/help.less";
//@import "Library/Elements/intro.less";
//@import "Library/Elements/jumbotron.less";
//@import "Library/Elements/not-found.less";
//@import "Library/Elements/portfolio.less";
//@import "Library/Elements/pricing.less";
//@import "Library/Elements/responsive-video.less";
//@import "Library/Elements/services.less";
//@import "Library/Elements/shop.less";
//@import "Library/Elements/sign-form.less";
//@import "Library/Elements/slideshow.less";
//@import "Library/Elements/social.less";
//@import "Library/Elements/style-toggle.less";
//@import "Library/Elements/team-member.less";
//@import "Library/Elements/theme-faq.less";
//@import "Library/Elements/user.less";
//@import "Library/Elements/wrapper.less";

