{namespace theme=KayStrobach\Themes\ViewHelpers}
<div xmlns:f="http://typo3.org/ns/fluid/ViewHelpers" xmlns="http://www.w3.org/1999/xhtml"
     lang="en">
    <f:section name="Default">
        <!-- theme_bootstrap_mosaic: Partials/Area/MiniNavbar.html [begin] -->

    <div class="mini-navbar mini-navbar-dark hidden-xs">
        <div class="container">
            <div class="col-sm-12">
                <f:cObject typoscriptObjectPath="lib.menu.miniNavbar"/>
                <div class="menu-language-wrapper pull-right">
                    <theme:widget.languageMenu
                            availableLanguages="{theme:constant(constant: 'themes.languages.available')}"
                            currentLanguageUid="{theme:constant(constant: 'themes.languages.current.uid')}"
                            defaultLanguageIsoCodeShort="{theme:constant(constant: 'themes.languages.default.isoCodeShort')}"
                            defaultLanguageLabel="{theme:constant(constant: 'themes.languages.default.label')}"
                            defaultLanguageFlag="{theme:constant(constant: 'themes.languages.default.flag')}"
                            />
                    <f:if condition="{theme:constant(constant: 'themes.languages.available')}">
						<span>
							<f:translate key="languageMenu_label"/>
						</span>
                    </f:if>
                </div>
            </div>
        </div>
    </div>
    </f:section>
</div>